<!doctype html>
<html lang="es">
<head><meta charset="utf-8"><title>Registro de Entidades</title></head>
<body>
  <h1>Panel de Registro</h1>
{% with msgs = get_flashed_messages(with_categories=true) %}
  {% if msgs %}
      <ul>
      {% for cat, msg in msgs %}
        <li>[{{ cat }}] {{ msg }}</li>
      {% endfor %}
      </ul>
  {% endif %}
{% endwith %}
  <ul>
    <li><a href="{{ url_for('form_edificio') }}">Registrar Edificio</a></li>
    <li><a href="{{ url_for('form_facultad') }}">Registrar Facultad</a></li>
    <li><a href="{{ url_for('form_programa') }}">Registrar Programa</a></li>
    <li><a href="{{ url_for('form_sala') }}">Registrar Sala</a></li>
    <li><a href="/edificios/listar">Ver Edificios</a></li>
    <li><a href="{{ url_for('listar_salas') }}">Editor Salas</a></li>
    <li><a href="{{ url_for('mis_reservas') }}">Mis Reservas</a></li>
    <li><a href="{{ url_for('mis_programas') }}">Mis Programas</a></li>
    <li><a href="{{ url_for('form_participanteprograma') }}">Inscripcion a programas</a></li>
    <li><a href="{{ url_for('form_reserva') }}">Crear Reserva</a></li>
    <li><a href="{{ url_for('form_alumno') }}">Registrar Alumno</a></li>
    <li><a href="{{ url_for('form_docente') }}">Registrar Docente</a></li>
    <li><a href="/login/alumno">Login Alumno</a></li>
    <li><a href="/login/docente">Login Docente</a></li>

</body>
</html>
