<!doctype html>
<html lang="es">
<head><meta charset="utf-8"><title>Registro de Entidades</title></head>
<body>
  <h1>Panel de Registro</h1>
  <ul>
    <li><a href="/FormularioEdificio">Registrar Edificio</a></li>
    <li><a href="/FormularioFacultad">Registrar Facultad</a></li>
    <li><a href="/FormularioPrograma">Registrar Programa</a></li>
    <li><a href="/edificios/listar">Ver Edificios</a></li>
    <li><a href="{{ url_for('reserva_crear') }}">Crear Reserva</a></li>
    <li><a href="/alumnos/nuevo">Registrar Alumno</a></li>
    <li><a href="/docentes/nuevo">Registrar Docente</a></li>
    <li><a href="/login/alumno">Login Alumno</a></li>
    <li><a href="/login/docente">Login Docente</a></li>

</body>
</html>
